*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

#navbar{
    background-color: #03164c;
    height: 120px;
     
}

.continer{
    width: 80%;
    margin: 0 auto;
}


#navbar img, #navbar ul li{
    display: inline-block;
}


.parent{
    display: grid;
    grid-template-columns: 20% 80% 10%;
    padding-top: 40px;
}

.parent ul li{
    padding: 10px 18px;
    margin-left: 15px;
    font-size: 20px;
   
}

#navbar img{
    margin-top: 5px;
 

}

#navbar ul li a{
    color: white;
    text-decoration: none;
}


.search{
    width: 30px;
  padding-top: 5px;
  padding-left: 5px;

}


#slaider {
    background-image:  url(./images/banner-bg.png);
    max-width: 100%;
    height: 620px;
    background-size: cover;
}

.clr {
    clear: both;
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
    background-color: #626975;
    width: 100%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    border-radius: 25px;
    top: 330px;
}


#slaider h1{
    font-size: 50px;
    text-align: center;
    color: white;
    padding: 20px 0;
}
#slaider h2 {
    text-align: center;
    color: #03164c;
    font-size: 45px;
}


#slaider p{
    padding: 30px 0;
    font-size: 15px;
    text-align: center;
    color: white;
}

.btn{
    position: absolute;
    top: 300px;
    font-size: 20px;
    background-color: #03164c;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    width: 200px;
    left: 40%;
    cursor: pointer;
}

#about {
    max-width: 30%;
    margin: 0 auto;
}

#about h1{
    font-size: 40px;
    text-align: center;
    padding: 40px 0;
    border-bottom: 2px solid blue;
}

.about_p{
    text-align: center;
    padding: 40px 0;
    font-size: 18px;
}

.parent2{
    display: grid;
    grid-template-columns: 50% 50%;
}


.child2 {
    text-align: left;
    color: white;
}

.child2 h1{
    padding-top: 100px;
    padding-bottom: 40px;
    font-size: 40px;

}

#showcase{
    margin-top: 50px;
    background-color: black;
    max-height: 600px;
}

#showcase img{
    max-height: 550px;
    margin-left: 50px;
}

.child2 p{
padding: 30px 0;

}

.child2 button{
    margin-top:100px;
    height: 40px;
    width: 200px;
    background-color:#fe6703;
    font-size: 20px;
    border-radius: 8px;
    color: #fff;
    padding: 10px 15px;
    height: 50px
    
}

.parent3{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-left: 200px;

}

.parent3 img{
max-height: 300px;
  
}


.child3 h3 {
    text-align: center;
    padding: 20px 0;
    color: black

}
.child3 p {
    text-align: center;
    padding: 2px 10px;
    font-size: 18px;
    color: black;
    line-height: 15px;
    color:white
   
    
}

#users button{
    margin-top:30px;
    height: 40px;
    width: 200px;
    background-color: #041d2c;
    font-size: 20px;
    border-radius: 8px;
    color: #fff;
    padding: 10px 15px;
    height: 50px;
    cursor: pointer;
    margin-left: 45%;
    margin-bottom: 50px;
}
    

#partner{
    background-image: url(./images/img-4.png);
    width: 100%;
    height: 500px;
    background-size: cover;
}

.part{
    max-width: 60%;
    margin-left: 9%;

}

.part h1{
    color: white;
font-size: 70px;
padding: 30px 0;
padding-top: 100px;
}


.part p {
    color: white;
    padding-bottom: 30px;
    font-size: 18px;
}

.choose{
    padding: 15px 10px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #fe6703;
    color: white;
    cursor: pointer;
}

#price{
    text-align: center;
    margin: 30px;
    font-size: 23px;
    border-bottom: 1px solid rgb(33, 136, 184);
  max-width: 200px;
  margin: 0 auto;
  margin-top: 30px;
}

.price_p{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    

}

#parent3{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    max-width: 100%;
    margin: 0 auto;
    margin-left: 10%;
    height: 400px;
}
.child3{
 
    text-align: center;
    color: white;
}

.plan2{
    background-color: darkblue;
    margin: 15px;
    border-radius: 10px;
}

.plan1{
    background-color:  #022431;
    margin: 15px;
    border-radius: 10px;
}

.plan3{
    background-color: #022431;
    margin: 15px;
    border-radius: 10px;
}


.child3 h1{
    text-transform: uppercase;
    font-size: 20px;
    padding: 25px 0;
    font-family: 'Times New Roman', Times, serif;
}

strong{
    font-size: 35px;
}

.child3 p{
    max-width: 70%;
    margin: 2px auto;
    line-height: 40px;
    padding-bottom: 20px;
}

span{
    color: coral;
    padding: 15px 0;
    
}


/* .selectPlan:nth-child(odd){
    background-color: darkblue;
} */

.selectPlan{
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 10px;
    margin:17px 0;
    text-transform: uppercase;
    color: white;
    background-color: #03093f;
    border: none;
}

.selectPlan2{
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 10px;
    margin:17px 0;
    text-transform: uppercase;
    color: white;
    background-color: #fe6703;
    border: none;
}


#parent4{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top:70px;
    height: 500px;

}

.child4:first-child{
    background-image: url(./images/contact-bg.png);
    max-width: 100%;
    
 
    background-size: cover;
  padding-left: 120px;
  padding-right: 80px;
   padding-top:80px
}

.child4:last-child{
margin-left: 15px;

}

.child4 form input{
    display: block;
    margin: 15px 0;
    border: none;
    border-bottom: 1px solid white;
    background-color:transparent;
    font-size: 18px;
    padding: 18px 0;
    color: white;
    width: 100%
}

.child4 h1{
    color:white;
    font-size: 25px;
}

textarea{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 18px;
    padding: 18px 0;
   color: rgb(133, 133, 133);
    width: 100%;
    height: 70px;  
}

.sendBtn{
    background-color: #041d2c;
    padding: 13px 50px;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 30px 0;
    font-size: 18px;
}

.parent6{
    display: grid;
    grid-template-columns: 20% 80%;
}

.child6:last-child{
    text-align: left;
}

.parent5{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-top: 130px;
    padding-left: 30px;
    width: 90%;
    margin: 0 auto;
}


.clr{
    clear: both;
}

#footer{
   margin-top: 60px;
background-color:  #041445;
height: 400px;
}

.child6 p{
    padding-left: 22px;
    color: white;
    padding-top: 13px;
    font-size: 17px;
    padding-left: 10px;
    line-height: 25px;
}

.parent7{
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    max-width: 160px;
    padding-top: 50px;
    margin-left: 46%;
}

.copy{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 60px;
}

#contact{
    text-align: center;
   
    font-size: 23px;
    border-bottom: 1px solid rgb(33, 136, 184);
  max-width: 300px;
  margin: 30px auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

#navbar ul li a.active{
    background-color: #08224e;
    color:white;
    padding: 0 20px;
    padding-top: 10px;
    padding-bottom: 43px;
    font-size: 25px;
   

}



